$color-primary: blue !default;
$color-secondary: orange !default;
$color-tertiary: green !default;

$color-light-gray: #e6e6e6 !default;
$color-medium-gray: #cacaca !default;
$color-dark-gray: #8a8a8a !default;

$color-black: #111 !default;
$color-white: #fff !default;
