{% if menu %}
	<ul class="{{ (item.get_children) ? 'menu__submenu' : 'menu' }}">
	{% for item in menu %}
		<li class="menu__item">
			<a class="menu__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include 'partials/menu.twig' with { 'menu': item.get_children } %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
